<template>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Success
      </div>
      <div class="panel-body">
        <p>You may now return to the application.</p>
        <button class="btn btn-success" v-on:click="$router.back()">Return</button>
      </div>
    </div>
  </div>
</template>
