<template>
  <div>
    <navbar />
    <div class="jumbotron">
      <div class="container">
        <h1>Debate.js</h1>
        <p>The future of speech and debate article organization. A work in progress.</p>
      </div>
    </div>
    <div class="container">
      <div id="container">
        <div class="col-md-6" style="text-align: center;">
          <h1>Getting Started</h1>
          <div>
            <router-link to="articles"><a class="btn btn-primary btn-lg">View All Articles</a></router-link>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <error />
    </div>
  </div>
</template>
