<template>
    <ul class="nav navbar-nav navbar-right">
      <li><a v-on:click="cancel()" v-if="$store.getters.active"><span class="glyphicon glyphicon-remove"></span></a></li>
      <li><a v-on:click="$store.dispatch('next')" v-if="$store.getters.active"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      <li><a v-on:click="$router.push({ name: 'pull' })" v-if="!$store.getters.active"><span class="glyphicon glyphicon-refresh"></span></a></li>
    </ul>
</template>

<style scoped>
  a:hover {
    cursor: pointer;
  }
</style>

<script>
export default {
  methods: {
    cancel () {
      this.$store.dispatch('cancel')
      $.notify({
        type: 'warning',
        message: 'Cancelled pull task.'
      }, {
        showProgressbar: false,
        allow_dismiss: true
      })
    }
  }
}
</script>
