<template>
  <div>
    <navbar />
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Select Puller</div>
        <div class="panel-body">
          <form v-on:submit.prevent>
            <fieldset id="pullerForm">
              <div class="form-group">
                <label for="url" class="col-md-4 control-label">Puller:</label>
                <div class="col-md-6">
                  <select v-model.number="pullerId" class="form-control" type="text">
                    <option disabled value="">Select Puller</option>
                    <optgroup label="Readers">
                      <option v-for="(reader, index) of handler.pullers" :value="index">
                        {{ reader.source }}
                      </option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <button id="fetchArticle" type="submit" class="btn btn-primary" v-on:click="pull">
                  Start Puller
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { remote } from 'electron'

const Handler = remote.getGlobal('handler')

export default {
  data: function () {
    return {
      error: '',
      handler: {},
      pullerId: 0,
      url: ''
    }
  },
  methods: {
    async pull () {
      console.log('Submitted pull request.') // Ha ha, GitHub puns.
      $('#pullerForm').prop('disabled', true)
      let puller = await Handler.pull(this.pullerId)
      console.log('Puller instance created.')
      this.$store.dispatch('set', puller)
      console.log('Puller instance dispatched to store.')
    }
  },
  mounted () {
    this.handler = Handler
  }
}
</script>
