<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#search">Advanced Search</a>
      </h4>
    </div>
    <div id="search" class="panel-collapse collapse">
      <div class="panel-body">
        <form class="form-horizontal" role="form" v-on:submit.prevent>
          <div class="form-group">
            <label for="title" class="col-md-4 control-label">Title</label>
            <div class="col-md-6">
              <input id="title" v-model="value.title" type="text" class="form-control" autofocus>
            </div>
          </div>
          <div class="form-group">
            <label for="authors" class="col-md-4 control-label">Authors</label>
            <div class="col-md-6">
              <input id="authors" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="tags" class="col-md-4 control-label">Tags</label>
            <div class="col-md-6">
              <input id="tags" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="published" class="col-md-4 control-label">Published</label>
            <div class="col-md-6">
              <datepicker v-model="value.published" input-class="form-control" format="yyyy-MM-dd" clear-button />
            </div>
          </div>
          <div class="form-group">
            <label for="modified" class="col-md-4 control-label">Modified</label>
            <div class="col-md-6">
              <datepicker v-model="value.modified" input-class="form-control" format="yyyy-MM-dd" clear-button />
            </div>
          </div>
          <div class="form-group">
            <label for="source" class="col-md-4 control-label">Source</label>
            <div class="col-md-6">
              <input id="source" v-model="value.source" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="url" class="col-md-4 control-label">URL</label>
            <div class="col-md-6">
              <input id="url" v-model="value.url" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
              <button id="fetchArticle" type="submit" class="btn btn-primary" v-on:click="search">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { remote } from 'electron'

const Database = remote.getGlobal('Database')

export default {
  methods: {
    checkDuplicates (event) {
      var existingTokens = $(event.target).tokenfield('getTokens')
      for (let token of existingTokens) {
        if (token.value === event.attrs.value) {
          console.log('Existing token found. Cancelling tokenfield:createtoken.')
          event.preventDefault()
          this.errors[$(event.target).attr('id')] = true
        } else {
          this.errors[$(event.target).attr('id')] = false
        }
      }
    },
    search () {
      this.value.authors = $('#authors').tokenfield('getTokens').map(function (token) {
        return token.value
      })
      this.value.tags = $('#tags').tokenfield('getTokens').map(function (token) {
        return token.value
      })
      this.$emit('search')
    }
  },
  mounted () {
    $('#authors').tokenfield({
      autocomplete: {
        source: function (request, response) {
          Database.get('author', request.term).then(function (rows) {
            let array = rows.map(function (row) {
              return row.name
            })
            response(array)
          })
        }
      }
    })
    $('#authors').on('tokenfield:createtoken', this.checkDuplicates)
    $('#tags').on('tokenfield:createtoken', this.checkDuplicates)
    $('#tags').tokenfield({
      autocomplete: {
        source: function (request, response) {
          Database.get('tag', request.term).then(function (rows) {
            let array = rows.map(function (row) {
              return row.name
            })
            response(array)
          })
        }
      }
    })
  },
  props: ['value']
}
</script>

<style>
.tokenfield {
  /* Overrides Bootstrap's form field height issue. */
  height: auto;
}
</style>
