<template>
    <ul class="nav navbar-nav navbar-right">
        <li><a v-if="$store.getters.state !== 0" v-on:click="$store.commit('stop')"><span class="glyphicon glyphicon-stop"></span></a></li>
        <li><a v-on:click="$store.dispatch('toggle')"><span class="glyphicon" :class="$store.getters.state === 1 ? 'glyphicon-pause' : 'glyphicon-play'"></span></a></li>
        <li class="navbar-brand">{{ $store.getters.current ? parseTime($store.getters.current/1000) : parseTime($store.getters.extemp/1000) }}</li>
    </ul>
</template>

<style scoped>
    a:hover {
        cursor: pointer;
    }
</style>

<script>
export default {
  methods: {
    parseTime (time, recur) {
      time = Math.floor(time)
      let timeString = ''
      timeString = time % 60 < 10 ? '0' + time % 60 + timeString : time % 60 + timeString
      if (time / 60 < 1 && !recur) return '0:' + timeString
      if (time / 60 < 1) return timeString
      return this.parseTime(time / 60, true) + ':' + timeString
    }
  }
}
</script>
