<template>
  <div class="panel panel-default" style="height: 84vh;">
    <div class="panel-heading">Edit Article</div>
    <div class="panel-body" style="height: 100%">
      <div class="row" style="height: 85%">
        <div class="col-md-6" style="height: 95%; overflow: scroll; overflow-x: hidden;">
          <form v-on:submit.prevent>
            <div class="form-group">
              <label for="url" class="control-label">URL:</label>
              <input v-bind:value="value.url" type="text" class="form-control" id="url" disabled />
            </div>
            <div class="form-group">
              <label for="source" class="control-label">Source:</label>
              <input v-bind:value="value.source" type="text" class="form-control" id="source" disabled />
            </div>
            <div class="form-group">
              <label for="title" class="control-label">Title:</label>
              <input v-bind:value="value.title" v-on:input="update('title', $event.target.value)" type="text" class="form-control" id="title" />
              <span v-if="errors.title" class="help-block">
                <strong>{{ errors.title }}</strong>
              </span>
            </div>
            <div class="form-group">
              <label for="authors" class="control-label">Authors:</label>
              <input type="text" class="form-control" id="authors" />
              <span v-if="errors.authors" class="help-block">
                <strong>You cannot enter a duplicate author.</strong>
              </span>
            </div>
            <div class="form-group">
              <label for="tags" class="control-label">Tags:</label>
              <input type="text" class="form-control" id="tags" />
              <span v-if="errors.tags" class="help-block">
                <strong>You cannot enter a duplicate tag.</strong>
              </span>
            </div>
            <div class="form-group">
              <label for="published" class="control-label">Date Published:</label>
              <input v-bind:value="value.published" v-on:input="update('published', $event.target.value)" type="datetime-local" class="form-control" id="published" />
            </div>
            <div class="form-group">
              <label for="modified" class="control-label">Date Modified:</label>
              <input v-bind:value="value.modified" v-on:input="update('modified', $event.target.value)"
                type="datetime-local" class="form-control" id="modified" />
            </div>
            <!-- <button v-if="puller.constructor !== Object" class="btn btn-warning" @click="cancel">Cancel Pull</button> -->
          </form>
        </div>
        <div class="col-md-6" style="height: 100%;">
          <div class="tab-content" style="height: 100%;">
            <div id="preview" class="tab-pane fade in active" style="height: 100%;">
              <article v-html="markdown" id="content" style="overflow: scroll; overflow-x: hidden; height: 100%;">
              </article>
            </div>
            <div id="edit" class="tab-pane fade" style="height: 100%;">
              <textarea v-on:input="update('content', $event.target.value)" class="form-control"
                style="height: 100%;">{{ value.content }}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success" v-on:click="save()">Yes, add the article.</button>
          <button class="btn btn-danger" v-on:click="dismiss()">No, discard the article.</button>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#preview">Preview</a></li>
            <li><a data-toggle="tab" href="#edit">Edit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { remote } from 'electron'

// Now to save space, we could write our models into their own individual variables.
// However, they are little used so this way is more efficient. Also, the nonsense
// that you call KARMA decided that this isn't bloody appropriate.
const sequelize = remote.getGlobal('sequelize')

const MarkdownService = remote.getGlobal('MarkdownService')

export default {
  computed: {
    markdown: function () {
      return MarkdownService.toHtml(this.value.content)
    }
  },
  data: function () {
    return {
      errors: {
        title: '',
        authors: '',
        tags: ''
      }
    }
  },
  methods: {
    createToken (event) {
      let existingTokens = $(event.target).tokenfield('getTokens')
      for (let token of existingTokens) {
        if (token.value === event.attrs.value) {
          console.log('Existing token found. Cancelling tokenfield:createtoken.')
          this.errors[$(event.target).attr('id')] = true
          return false
        }
      }
      this.errors[$(event.target).attr('id')] = false
    },
    async getModelRelations (selector, model) {
      console.log('Fetching article relations for ' + selector + '.')
      let items = $(selector).tokenfield('getTokens').map(function (token) {
        return token.value
      })
      let foundModels = await model.findAll({
        where: {
          name: items
        }
      })
      let foundItems = foundModels.map(function (model) {
        return model.getDataValue('name')
      })
      let missingItems = items.filter(function (item) {
        return foundItems.indexOf(item) === -1
      }).map(function (item) {
        return {
          name: item
        }
      })
      let createdModels = await model.bulkCreate(missingItems, {
        individualHooks: true
      })
      return foundModels.concat(createdModels)
    },
    async save () {
      if (!this.validate()) {
        return
      }
      let article
      if (this.value.model) {
        article = await this.value.model.update(this.value)
      } else {
        article = await sequelize.model('article').create(this.value)
      }
      /**
       * NOTE: Sequelize actually does provide a way to save relations directly
       * via the model instance. However, the data in the Bootstrap Tokenfield
       * is a little, shall we say, complex.
       */
      let authors = await this.getModelRelations('#authors', sequelize.model('author'))
      await article.addAuthors(authors)
      let tags = await this.getModelRelations('#tags', sequelize.model('tag'))
      await article.addTags(tags)
      $.notify({
        type: 'success',
        message: 'Article successfully saved.'
      }, {
        showProgressbar: false
      })
      this.$emit('success')
    },
    update (field, value) {
      let article = Object.assign({}, this.value)
      article[field] = value
      this.$emit('input', article)
    },
    updateToken (event) {
      let tokenArray = $(event.target).tokenfield('getTokens')
      let article = Object.assign({}, this.value)
      article[$(event.target).attr('id')] = tokenArray
      this.$emit('input', article)
      console.log('Updated parent object with new object.')
    },
    validate () {
      let valid = true
      if (!this.value.title) {
        this.errors.title = 'The title cannot be null.'
        valid = false
      } else {
        this.errors.title = ''
      }
      return valid
    }
  },
  mounted () {
    $('#authors').tokenfield({})
    $('#tags').tokenfield({})
    $('#authors').on('tokenfield:createtoken', this.createToken)
    $('#tags').on('tokenfield:createtoken', this.createToken)
    $('#authors').on('tokenfield:createdtoken', this.updateToken)
    $('#tags').on('tokenfield:createdtoken', this.updateToken)
  },
  props: [
    'value' // The article object for the form to load.
  ],
  watch: {
    'value': function (val) {
      console.log('Value update detected.')
      if (val.authors.length > 0) {
        if (typeof val.authors[0] === 'string') {
          $('#authors').tokenfield('setTokens', val.authors)
        } else if (val.authors[0].name) {
          let authors = val.authors.map(author => author.name)
          $('#authors').tokenfield('setTokens', authors)
        } else {
          return
        }
        console.log('Setting authors.')
      }
      if (val.tags.length > 0) {
        if (typeof val.tags[0] === 'string') {
          $('#tags').tokenfield('setTokens', val.tags)
        } else if (val.tags[0].name) {
          let tags = val.tags.map(tag => tag.name)
          $('#tags').tokenfield('setTokens', tags)
        } else {
          return
        }
        console.log('Setting tags.')
      }
      // for (let author of val.authors) {
      //   if (typeof author === 'string') {
      //     $('#authors').tokenfield('createToken', author)
      //   } else {
      //     console.log('Not a predefined attribute. Cancelling.')
      //     break
      //   }
      // }
      // for (let tag of val.tags) {
      //   if (typeof tag === 'string') {
      //     $('#tags').tokenfield('createToken', tag)
      //   } else {
      //     break
      //   }
      // }
    }
  }
}
</script>

<style>
.tokenfield {
  /* Overrides Bootstrap's form field height issue. */
  height: auto;
}
</style>
