<template>
  <div>
    <navbar />
    <div class="container">
      <article>
        <header>
          <h1>{{ article.title }}</h1>
          <h3>{{ authors }} - {{ article.source }}</h3>
          <h4>{{ published }}</h4>
          <h4>Tagged: {{ tags }}</h4>
        </header>
        <hr>
        <section v-html="content"></section>
      </article>
    </div>
  </div>
</template>

<script>
import { remote } from 'electron'
import moment from 'moment-timezone'

const Database = remote.getGlobal('Database')
const MarkdownService = remote.getGlobal('MarkdownService')

export default {
  computed: {
    authors () {
      return this.article.authors.map(author => author.name).join(', ')
    },
    tags () {
      return this.article.tags.map(tag => tag.name).join(', ')
    },
    published () {
      return moment(this.article.published).format('LLLL')
    }
  },
  data: function () {
    return {
      article: {
        authors: [],
        tags: []
      },
      content: '',
      moment: moment
    }
  },
  mounted () {
    Database.find(this.$route.params.id).then(article => {
      this.article = article.get({
        plain: true
      })
      this.content = MarkdownService.toHtml(article.getDataValue('content'))
    })
  }
}
</script>
